{% extends "childcare/layout.html" %}

{% block pageTitle %}
Personal tax account: sign in or set up
{% endblock %}

{% block header %}
{# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
  {% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/identity/index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="javascript:void(0)">Dealing with HMRC</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Personal tax account: sign in or set up
    </h1>

    <p>Use your personal tax account to check your records and manage your details with HM Revenue and Customs (HMRC).</p>

    <div>
      <p>This service is also available in <a href="">Welsh (Cymraeg)</a>.</p>
    </div>

    <div class="govuk-inset-text">
      <p>There’s a different service to <a href=""> file your Self Assessment tax return </a> or <a href=""> report and pay Capital Gains Tax on UK property</a>.</p>
    </div>
   
    <div>
      <p>GOV.UK One Login has replaced Government Gateway.</p>
    </div>

    <p>To use this service, you'll need to prove your identity using GOV.UK One Login</p>

    {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Start now",
        href: "/identity/auth/gov-account-3.html",
        isStartButton: true
      }) }}


      <div id="before-you-start">
        <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
          <h2 class="govuk-heading-m">What you need to know</h2>
  
          <p>You can use your personal tax account to:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>check your Income Tax estimate and tax code</li>
            <li>fill in, send and view a personal tax return</li>
            <li>claim a tax refund</li>
            <li>check your income from work in the previous 5 years</li>
            <li>check how much Income Tax you paid in the previous 5 years</li>
            <li>check and manage your tax credits</li>
            <li>check your State Pension</li>
            <li>track tax forms that you've submitted online</li>
            <li>check or update your Marriage Allowance</li>
            <li>tell HMRC about a change of name or address</li>
            <li>check or update benefits you get from work, for example company car details and medical insurance</li>
            <li>find your National Insurance number</li>
          </ul>
  
          </div>
  
        </div>
      </div>
  </div>

  <div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->



  </div>
</div>
{% endblock %}
