//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/task-list";
@import "patterns/service-nav";

// Add extra styles here


// childcare account cards

.pta-card-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }
  
  .pta-card {
    margin-right: 20px;
    flex: 33%;
    max-width: 290px;
  }
  
  .pta-card:last-child {
    margin-right: 0px;
  }
  
  @media (max-width: 500px) {
    .pta-card-container {
      flex-direction: column;
    }
    .pta-card {
      margin-bottom: 20px;
    }
  }

// account home


    // service cards with titles

    .service-card--with-title {
        border: 1px solid 	#b1b4b6;
        margin-bottom: 20px;
    }

    .service-card-title {
        padding: 20px;
        padding-bottom: 5px;
        background-color: #f3f2f1;
    }

    .service-card-body {
        padding: 20px;
    }

    .service-card-date {
        color: #505A5F;
        margin-bottom: 0px;
    }

    // service cards without titles

    .service-card--no-title {
        border: 1px solid 	#b1b4b6;
        border-top: 4px solid #b1b4b6;
        padding: 20px;
        margin-bottom: 20px;
    }

    // other task cards

    .service-card--other-task {
      border: 1px solid #b1b4b6;
      padding: 15px;
      margin-bottom: 20px;
  }

    // account blurb

    .account-blurb {
        padding: 20px;
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: #f3f2f1;
    }

    // account header

    @media only screen and (min-width: 770px){
      .govuk-header--service-nav-mobile {
        display: none;
      }
    }

    @media only screen and (max-width: 770px){
      .govuk-header--service-nav-desktop {
        display: none;
      }
    }

    .govuk-header__content--service-nav .govuk-header__navigation.govuk-header__navigation--service-nav .govuk-header__navigation-item  {
      margin-left: 0px;
    }

    .account-menu-icon {
      margin-left: 5px;
      position: relative;
      top: 1px;
    }

     .account-menu-icon-toggle {
       rotate: 180deg;
     }

     // settings and security

     .activity-card {
      border: solid 1px #b1b4b6;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 20px;
      padding-bottom: 20px;
     }
   
     // Activity log

.govuk-accordion-filter .govuk-accordion__controls{
  display: none;
 }
 
 // Activity cards
 
 .activity-card {
 border: 1px solid #b1b4b6;
 padding-left: 15px;
 padding-right: 15px;
 padding-top: 20px;
 padding-bottom: 20px;
 margin-bottom: 20px;
 }
 
 .activity-card-location {
   color: #505A5F;
   margin-bottom: 1em;
 }
 
 .activity-card-date {
   color: #505A5F;
   margin-bottom: 0px;
 }
 
     // Device activity-card
 
     .activity-card--device {
       margin-bottom: 20px;
   }
 
   .activity-card--device h3 {
     padding-top: 1em;
 }

// service header

.header-link {
  color: white;
}

.header-link-account {
  display: inline;
  color: white;
}

.service-header__navigation {
  display: inline;
  float: right;
  cursor: pointer;
  padding-left: 0px;
  padding-right: 0px;
}

.govuk-header__navigation-item {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 856px) {
  .govuk-header{
    padding-right: 0px;
    border-bottom: 0px;
  }
  .govuk-service-header{
    display: flex;
    .govuk-header__logo{
      padding-right: 0px;
    }
  }
  .service-header-service-name-mobile{
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 10px solid #1d70b8;
  }
  .account-exposed-menu{
    display: grid;
  }
  .one-login-desktop{
    display: none;
  }
  .govuk-header__navigation-item {
    padding-left: 5px;
    padding-right: 5px;
  }
  .service-header-service-name{
    display: none;
  }
  .govuk-header__container{
    border-bottom: none;
    margin-bottom: 0px;
  }
}

@media (min-width: 856px) {
  .service-header-service-name-mobile{
    display: none;
  }
  .one-login-mobile{
    display: none;
  }
}

.service-header__navigation-open {
  background-color: #f3f2f1;
  color: #1d70b8;
  box-shadow: 0px 29px #f3f2f1;
}



.service-header__navigation-open .expand-icon-fill {
  rotate: 180deg;
  color: #1d70b8;
  fill: #1d70b8;
}

.service-header__navigation-open :hover {
  color: #1d70b8;
}

.expand-icon-fill {
  rotate: 0deg;
  fill: white;
}

.service-header__navigation-open .person-icon-bg {
  fill: #1d70b8;
}

.person-icon-bg {
  fill: white;
}

.service-header__navigation-open .person-icon-fg {
  fill: white;
}

.person-icon-fg {
  fill: #1d70b8;
}

.person-icon {
  top: .3em;
  margin-left: 10px;
  margin-right: 5px;
  position: relative;
}

.service-header {
  background-color: #f3f2f1;
  top: -10px;
  position: relative;
}

.service-header-link {
  float: left;
  width: 30%;
  margin-top: 30px;
  margin-bottom: 40px;
}

@media (max-width: 856px) {
  .service-header-link {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  }


.account-header-onelogin {
  font-weight: lighter;
  font-size: 24px;
  margin-left: 5px;
}

.govuk-table__cell {
  width: 200px;
}

.govuk-header__logo-onelogin {
  padding-right: 0px;
}

// service header v1

.govuk-header--service-nav-v1 {
  background-color: #D2E2F1;
  font-size: 16px;
}

.govuk-header--service-nav-v1-desktop .govuk-header--service-nav-v1-email {
  float: left;
  padding-top: 5px;
}

.govuk-header--service-nav-v1-desktop .service-nav-v1--list {
  float: right;
}

@media only screen and (min-width: 770px){
  .govuk-header--service-nav-v1-mobile {
    display: none;
  }
}

@media only screen and (max-width: 770px){
  .govuk-header--service-nav-v1-desktop {
    display: none;
  }
}


.govuk-header__content--service-nav .govuk-header__navigation.govuk-header__navigation--service-nav .govuk-header__navigation-item .v1 {
  margin-left: 0px;
}


.account-menu-icon {
  margin-left: 5px;
  position: relative;
  top: 1px;
}

 .account-menu-icon-toggle {
   rotate: 180deg;
 }

 // service header v2

.govuk-header__logo-onelogin-v2 {
  @media (max-width: 770px){
    width: 60%;
    float: left;
  }
}

.govuk-header--service-nav-v2 {
  background-color: #f3f2f1;
  font-size: 16px;
}

.service-nav-v2--list {
  padding-top: 10px;
}

.govuk-header--service-nav-v2-desktop .govuk-header--service-name-v2 {
  float: left;
  padding-top: 10px
}

.govuk-header--service-name-v2 {
  margin-bottom: 0px;
}

.govuk-header__navigation-list-v2 {
  float: right;
  margin-top: -5px;
}

.govuk-header__navigation-item-v2 {
  padding-left: 30px;
  border-left: solid 1px #b1b4b6;
}

.govuk-header--service-nav-v2-desktop .service-nav-v2--list {
  float: right;
}

@media only screen and (min-width: 771px){
  .govuk-header--service-nav-v2-mobile {
    display: none;
  }
}

@media only screen and (max-width: 770px){
  .govuk-header--service-nav-v2-desktop {
    display: none;
  }
  .service-nav-v2--menu-link {
    padding-top: 10px;
  }

  .govuk-header--service-nav-v2-mobile {
    .service-header__navigation {
      display: block;
      float: none;
    }

    .one-login-mobile {
      font-size: inherit;
      float: right;
      font-weight: bold;
      margin: 0;
      padding: 0;
      border: 0;
      color: #ffffff;
      background: none;
      cursor: pointer;
    }

    .govuk-header__navigation-list {
      clear: both;
    }
  }
}


.govuk-header__content--service-nav .govuk-header__navigation.govuk-header__navigation--service-nav .govuk-header__navigation-item .v2 {
  margin-left: 0px;
}


// profiles

@media only screen and (max-width: 720px) {
  .img-profiles {
      width: 100%;
  }
}

.img-profiles {
  display: block;
}