{% extends "layouts/main.html" %}

{% block pageTitle %}
Share your saved identity information 
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="summary-list-container">
    <h1 class="govuk-heading-l">Share your saved identity information </h1>
    <p class="govuk-body">You proved your identity with GOV.UK One Login on 3 May 2023.</p>
    <p>This will be shared with <span class="govuk-!-font-weight-bold"> Personal tax account</span>.</p>
  
  <div class="id-info">
    <h3 class="govuk-heading-s ">Identity information that will be shared </h3>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          10 October 1970
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name on your passport 
        </dt>
        <dd class="govuk-summary-list__value">
          Jane B
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Current address</p>
          <p>72 Guild Street<br>London<br>SE23 6FH</p>
          <p>Current address</p>
          <p>72 Guild Street<br>London<br>SE23 6FH</p>
          
        </dd>
      </div>
    </dl>



  </div>

  </div>
</div>

{% endblock %}