{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/service-header-pta.html" %}
<!-- PTA grey header
<div style="background-color: #f3f2f1; border-bottom: 1px solid	#b1b4b6;">
    <p class="govuk-heading-s govuk-width-container govuk-!-padding-top-3">Personal tax account</span></p>
</div>-->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Are you sure you want to update your information now?
    </h1>

    <p>At the moment, updating your information can take up to 5 working days.</p>
    <p>You’ll need to contact the GOV.UK One Login team using an online form. </p>
    <p>They will delete your identity information and you’ll need to prove your identity again. </p>

      {{ govukButton({
        text: "Yes, update this information now",
        href: "https://signin.account.gov.uk/contact-us?supportType=PUBLIC"
      }) }}

      <div>
        <h3 class="govuk-heading-s">
          If you need to use the service now
        </h3>
    
        <p>GOV.UK One Login can still confirm your identity and you can access the service without updating your information.</p>
        <p>However, the service will be given the identity information currently saved in your GOV.UK One Login.</p>
        <p class="govuk-body"><a href="/identity/service/pta/what-is-your-ni.html" class="govuk-link">Continue to the service without updating your information</a>.</p>
    
      </div>
  
          </div>
  
        </div>
{% endblock %}

