{% extends "childcare/layout-trn.html" %}

{% block pageTitle %}
  Confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Your teacher reference number (TRN) is: 9912345</h1>
      </div>

      <p>
        We’ve sent you an email confirming your TRN.
      </p>

      <h2 class="govuk-heading-m">If you need help</h2>

      <p>You can call the Teaching Regulation Agency:
        <br>
        Telephone: 020 7593 5394
        <br>
        Lines are open Monday to Thursday, 9am to 5pm, and on Friday from 9am to 4:30pm (except public holidays)
      </p>
      
      <h2 class="govuk-heading-m">Give feedback</h2>

      <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p>

    </div>
  </div>

{% endblock %}
