{% extends "../../layouts/layout-account.html" %}

{% set showServiceNav = "true" %}
{% set activeServiceNavItem = "your-details" %}
{% set round = "round2" %}

{% block pageTitle %}
  GOV.UK One Login - Identity information
{% endblock %}

{% block header %}
{% include "includes/account-header-identity.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="settings">Security</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="id-info">Your proof of identity
      </a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Your proof of identity</h1>

    <p class="govuk-body">You’ve proved your identity with GOV.UK One Login.</p>

    <p>GOV.UK One Login will share your proof of identity next time you use a service that needs to check who you are.</p>

    <p>Services might also use your information to match you against their records.</p>

  <div class="id-info">
    <h3 class="govuk-heading-m ">Information you used to prove your identity with GOV.UK One Login</h3>
    <p>You proved your identity with this information on 3 May 2023.</p>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6; padding-top:10px">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          10 October 1970
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name on your passport
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Name:<br> {{ data['first-name'] or 'Firstname' }} {{ data['middle-names'] }} {{ data['surname'] or 'Surname' }}</p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Passport details
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Passport number:<br> 123456789</p>
          <p>Country:<br> UK</p>
          <p>Expiry date:<br> 27 May 2028</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__key">
          Address history
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Your address on 3 May 2023</p>
          <p>1 Street<br>Bristol<br>BS5 6LA</p>
          <p>Previous address 1</p>
          <p>2 Street<br>Bristol<br>BS5 6LA</p>
          <p>Previous address 2</p>
          <p>3 Street<br>Bristol<br>BS5 6LA</p>

        </dd>
      </div>
    </dl>
  </div>
  <br>
  <h2 class="govuk-heading-m"> If your information has changed</h2>
  <p>You do not need to update this information. Your proof of identity stays valid even if your information has changed.</p>
  <p>If you want to update this information, you can <a href="/identity/pyi/update-form.html" class="govuk-link govuk-link--no-visited-state">contact the GOV.UK One Login team</a>. They will delete your information and you’ll need to prove your identity again. </p>

</div>

{% endblock %} 

{% block footer %}
<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <svg
          aria-hidden="true"
          focusable="false"
          class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 483.2 195.7"
          height="17"
          width="41">
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a
            class="govuk-footer__link"
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
            rel="license">Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="/identity/govuk/signin-to-onelogin-future-1">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
{% endblock %}