{% extends "activity/emails/_email-template.html" %}

{% set sender = "GOV.UK One Login (gov.uk.one.login@notifications.service.gov.uk)" %}

{% set subjectLine = "Your GOV.UK One Login password has been changed" %}

{% set receivedWhen = "04/01/2023 at 10:02am" %}

{% block emailBody %}

<p>
  Dear Sam
</p>

<p class="govuk-body govuk-!-font-weight-bold">Your GOV.UK One Login password has been changed.</p>

<p class="govuk-body">
  If you did not change your password, contact us: <a href="../govuk/one-login-contact-us">https://signin.account.gov.uk/contact-us?referer=passwordUpdatedEmail</a>
</p>

<p class="govuk-body">
  Sign in to your account to see all your GOV.UK One Login activity: <a href="/account/account-activity-filter"> https://signin.home.account.gov.uk/security/activity-history</a>
</p>

  {% endblock %}
  {% block header %}{% endblock %}
  {% block footer %}{% endblock %}
