
{% extends "childcare/layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/">GOV.UK One Login account prototypes</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GOV.UK User research prototype
      </h1>


      <h2 class="govuk-heading-m">Task 1</h2>
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Task 1",
        href: "/childcare/notify/reconfirmation"
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Links
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">Email</h3>
          <ul>
            <li><a href="/childcare/notify/reconfirmation">Childcare service reminder - email</a></li>
          </ul>
          <h3 class="govuk-heading-s">GOV.UK</h3>
          <ul>
            <li><a href="/childcare/govuk/childcare-service-start">Sign in to your childcare account - start page</a></li>
          </ul>
          <h3 class="govuk-heading-s">Auth</h3>
          <ul>
            <li><a href="/childcare/auth/v9/gov-account">You need a GOV.UK One Login to continue</a></li>
            <li><a href="/childcare/auth/v9/create-email">Create account - enter email</a></li>
            <li><a href="/childcare/auth/v9/create-account-exists">You already have a GOV.UK One Login</a></li>
            <li><a href="/childcare/auth/v9/signin-checkphone">Check your phone</a></li>
          </ul>
          <h3 class="govuk-heading-s">Childcare service</h3>
          <ul>
            <li><a href="/childcare/childcare/service-childcare-home">Childcare service account home</a></li>
            <li><a href="/childcare/childcare/service-childcare-reconfirm">Reconfirm your eligibility</a></li>
            <li><a href="/childcare/childcare/service-childcare-summary">Your reconfirmation summary</a></li>
            <li><a href="/childcare/childcare/service-childcare-success">Your eligibility</a></li>
            <li><a href="/childcare/childcare/service-childcare-home-confirmed">Childcare service account home - confirmed</a></li>
            <li><a href="/childcare/childcare/service-childcare-secure-messages">Secure messages</a></li>
            <li><a href="/childcare/childcare/service-childcare-secure-message">30 hours free childcare message</a></li>
          </ul>
          <h3 class="govuk-heading-s">GOV.UK One Login</h3>
          <ul>
            <li><a href="/childcare/account/account-home">Your services</a></li>
            <li><a href="/childcare/account/account-settings">Settings</a></li>
          </ul>
        </div>
      </details>

      <h2 class="govuk-heading-m">Task 2</h2>
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Task 2",
        href: "/childcare/find-a-lost-teacher-reference-number/start"
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Links
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">GOV.UK</h3>
          <ul>
            <li><a href="/childcare/find-a-lost-teacher-reference-number/start">Find a lost teacher reference number (TRN)</a></li>
          </ul>
          <h3 class="govuk-heading-s">Find a lost TRN service</h3>
          <ul>
            <li><a href="/childcare/find-a-lost-teacher-reference-number/check-if-you-have-a-trn">Check if you have a TRN</a></li>
          </ul>
          <h3 class="govuk-heading-s">Auth</h3>
          <ul>
            <li><a href="/childcare/auth/v9/gov-account-3">You need a GOV.UK One Login to continue</a></li>
            <li><a href="/childcare/auth/v9/create-email-3">Create account - enter email</a></li>
            <li><a href="/childcare/auth/v9/create-account-exists-2">You already have a GOV.UK One Login</a></li>
            <li><a href="/childcare/auth/v9/signin-checkphone-2">Check your phone</a></li>
          </ul>
          <h3 class="govuk-heading-s">Find a lost TRN service</h3>
          <ul>
            <li><a href="/childcare/find-a-lost-teacher-reference-number/introduction">We’ll ask you some questions to help find your TRN</a></li>
            <li><a href="/childcare/find-a-lost-teacher-reference-number/your-name">Your name</a></li>
            <li><a href="/childcare/find-a-lost-teacher-reference-number/your-dob">Your date of birth</a></li>
            <li><a href="/childcare/find-a-lost-teacher-reference-number/ni-number">Do you have a National Insurance number?</a></li>
            <li><a href="/childcare/find-a-lost-teacher-reference-number/what-is-ni-number">What is your National Insurance number?</a></li>
            <li><a href="/childcare/find-a-lost-teacher-reference-number/awarded-qts">Have you been awarded qualified teacher status (QTS)?</a></li>
            <li><a href="/childcare/find-a-lost-teacher-reference-number/who-awarded-qts">Did a university, SCITT or school award your QTS?</a></li>
            <li><a href="/childcare/find-a-lost-teacher-reference-number/check-answers">Check your answers</a></li>
            <li><a href="/childcare/find-a-lost-teacher-reference-number/confirmation">TRN success page</a></li>
          </ul>
          <h3 class="govuk-heading-s">GOV.UK One Login</h3>
          <ul>
            <li><a href="/childcare/account/account-home-with-trn">Your services - with TRN</a></li>
            <li><a href="/childcare/account/account-settings">Settings</a></li>
            <li><a href="/childcare/account/account-delete">Are you sure you want to delete your GOV.UK One Login?</a></li>
          </ul>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
