{% extends "../../layouts/layout-account.html" %}

{% set showServiceNav = "true" %}
{% set activeServiceNavItem = "your-details" %}
{% set round = "round2" %}

{% block pageTitle %}
  GOV.UK One Login - Are you sure you want to change your password?
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="ggovuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form action="change-password-1"  class="sign-in">
  <h1 class="gem-c-heading govuk-heading-l govuk-!-margin-bottom-3 govuk-!-margin-top-3">
    Are you sure you want to change your password?
  </h1>
  <p>You currently use your GOV.UK One Login password to access these services:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Personal tax account</li>
    <li>Register to vote</li>
  </ul>

      <br>
      <input id="signedIn" name="signedIn" type="hidden" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Yes, continue to change password
      </button>
    </form>

    <p>
      <a class="govuk-link" href="settings">I do not want to change my password</a>
    </p>

  </div>
  </div>

  </div>

{% endblock %}
