{% extends "childcare/layout.html" %}

{% block pageTitle %}
Sign in to your GOV.UK One Login
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/identity/index",
    serviceName: "",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="javascript:void(0)">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Sign in to your GOV.UK One Login
    </h1>

    <p class="govuk-body">Contents</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="/identity/govuk/signin-to-onelogin-future-2.html">About GOV.UK One Login</a></li>
  <li>Services you can use with GOV.UK One Login</li>
  <li><a class="govuk-link" href="/identity/govuk/signin-to-onelogin-future-3.html">How to prove your identity with GOV.UK One Login</a></li>
</ul>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div>
      <h2 class="govuk-heading-m">Services you can use with GOV.UK One Login</h2>
      <p class="govuk-body">At the moment, you can only use GOV.UK One Login to access some government services. In the future, you'll be able to use it to access all services on GOV.UK.</p>
      

      <p class="govuk-body">You can currently use your GOV.UK One Login to access these services:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/apply-vehicle-operator-licence">Apply for a vehicle operator licence</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.socialworkengland.org.uk/registration/apply-for-registration/">Apply to become a registered social worker in England</a>
        </li>
        <li>
          <a class="govuk-link" href="https://find-a-lost-trn.education.gov.uk/start">Find a lost teacher reference number (TRN)</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/">GOV.UK email subscriptions</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/export-control-licence">LITE (Licensing for International Trade and Enterprise)</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/personal-tax-account">Personal tax account</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/sign-in-apprenticeship-service-account">Recruit an apprentice</a>
        </li>
        <li>
          <a class="govuk-link" href="https://register-national-professional-qualifications.education.gov.uk/">Register for a National Professional Qualification (NPQ)</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/register-to-vote">Register to vote</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/request-copy-criminal-record">Request a basic DBS check</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/government/publications/hm-land-registry-sign-your-mortgage-deed">Sign your mortgage deed</a>
        </li>
      </ul>

      <p>If you do not have a GOV.UK One Login yet, you can create one when you use one of these services for the first time. </p>
    </div>
    <br>
    <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="/identity/govuk/signin-to-onelogin-future-1.html" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span><span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label">About GOV.UK One Login</span></a>
      </div>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="/identity/govuk/signin-to-onelogin-future-3.html" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label">How to prove your identity with GOV.UK One Login</span></a>
      </div>
    </nav>
        </div>
      </div>
  </div>
</div>

{% endblock %}

