{% extends "childcare/layout.html" %}

{% block pageTitle %}
Sign in to your GOV.UK One Login
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/identity/index",
    serviceName: "",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Sign in to your GOV.UK One Login
    </h1>

    <p class="govuk-body">Contents:</p>
    <ul class="govuk-list">
      <li>Using your GOV.UK One Login
      </li>
      <li>
        <a class="govuk-link" href="/identity/govuk/signin-to-onelogin-future-2.html">How to prove your identity with GOV.UK One Login</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div>
      <h1 class="govuk-heading-l">Using your GOV.UK One Login</h1>
      <p class="govuk-body">GOV.UK One Login is new. It is a first step towards creating a single place where you can:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>access all services on GOV.UK</li>
  <li>prove your identity to any government service that needs to check who you are</li>
</ul>

  <p>GOV.UK One Login does not work with all government accounts and services yet (for example Universal Credit).</p>
    </div>
      <br>
    <div>
      <h2 class="govuk-heading-m">
        Services you can use with GOV.UK One Login 
      </h2>

      <p class="govuk-body">At the moment you can use your GOV.UK One Login to access these services:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/apply-vehicle-operator-licence">Apply for a vehicle operator licence</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.socialworkengland.org.uk/registration/apply-for-registration/">Apply to become a registered social worker in England</a>
        </li>
        <li>
          <a class="govuk-link" href="https://find-a-lost-trn.education.gov.uk/start">Find a lost teacher reference number (TRN)</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/">GOV.UK email subscriptions</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/export-control-licence">LITE (Licensing for International Trade and Enterprise)</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/personal-tax-account">Personal tax account</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/sign-in-apprenticeship-service-account">Recruit an apprentice</a>
        </li>
        <li>
          <a class="govuk-link" href="https://register-national-professional-qualifications.education.gov.uk/">Register for a National Professional Qualification (NPQ)</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/register-to-vote">Register to vote</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/request-copy-criminal-record">Request a basic DBS check</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/government/publications/hm-land-registry-sign-your-mortgage-deed">Sign your mortgage deed</a>
        </li>
      </ul>

      <p>If you do not have a GOV.UK One Login yet, you can create one when you use one of these services for the first time. </p>

    </div>

    <div class="govuk-inset-text">
      <p>If you’re looking for a different service, <a href="https://gov.uk/sign-in">sign in to another government account</a>.</p>
    </div>

    <h2 class="govuk-heading-m">Sign in to your GOV.UK One Login</h2>
    <p>Sign in to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>see and access the services you’ve used with your GOV.UK One Login</li>
      <li>change your sign in details (email address and password)</li>
      <li>change how you get security codes </li>
      <li>update your saved identity information (if you’ve proved your identity with GOV.UK One Login before)</li>
      <li>delete your GOV.UK One Login</li>
    </ul>



    

{{ govukButton({
  text: "Sign in",
  href: "/identity/auth/signin-email-2.html",
  isStartButton: true
}) }}


  
        </div>
      </div>
  </div>
</div>
{% endblock %}


