{% extends "childcare/layout.html" %}

{% block pageTitle %}
Sign in to your GOV.UK One Login
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/identity/index",
    serviceName: "",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="javascript:void(0)">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Sign in to your GOV.UK One Login
    </h1>

    <p class="govuk-body">Contents:</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/identity/govuk/signin-to-onelogin-future-1.html">About GOV.UK One Login</a>
      </li>
      <li>
        <a class="govuk-link" href="/identity/govuk/signin-to-onelogin-future-2.html">How to prove your identity with GOV.UK One Login</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Change your details or delete your GOV.UK One Login</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div>
      <h1 class="govuk-heading-l">Change your details or delete your GOV.UK One Login</h1>
      <p class="govuk-body">You can <a href="#" class="govuk-link">sign in to your GOV.UK One Login</a> to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>change your sign in details (email address and password)</li>
  <li>change how you get security codes </li>
  <li>update your saved identity information</li>
  <li>delete your GOV.UK One Login </li>
</ul>
    </div>
    <div>
      <h3 class="govuk-heading-m">
        If you delete your GOV.UK One Login
      </h3>

      <p class="govuk-body">This will permanently delete the:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>sign in details for your GOV.UK One Login</li>
        <li>identity information saved in your GOV.UK One Login </li>
      </ul>
      <p>It means you will no longer be able to access the services you’ve accessed with your GOV.UK One Login in the past.</p>
      <p>It will not delete the personal information held by services you’ve used.</p>
      <p>If you need a GOV.UK One Login in the future, you’ll have to create a new one.</p>
    </div>
        </div>
      </div>

{% endblock %}

