{% extends "childcare/layout.html" %}

{% block pageTitle %}
Sign in to your GOV.UK One Login
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/identity/index",
    serviceName: "",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Sign in to your GOV.UK One Login
    </h1>

    <p class="govuk-body">Contents</p>
<ul class="govuk-list govuk-list--bullet">
  <li>About GOV.UK One Login</li>
  <li><a class="govuk-link" href="/identity/govuk/signin-to-onelogin-future-2.html">Services you can use with GOV.UK One Login</a></li>
  <li><a class="govuk-link" href="/identity/govuk/signin-to-onelogin-future-3.html">How to prove your identity with GOV.UK One Login</a></li>
</ul>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div>
      <h2 class="govuk-heading-m">About GOV.UK One Login</h2>
      <p>GOV.UK One Login is new. It is a first step towards creating a single place where you can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>access all services on GOV.UK</li>
      <li>prove your identity to any government service that needs to check who you are</li>
    </ul>

    <p>GOV.UK One Login does not work with all government accounts and services yet (for example Universal Credit).</p>
    <br>



    </div>


    <h2 class="govuk-heading-m">Sign in to your GOV.UK One Login</h2>
    <p>Sign in to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>see and access the services you’ve used with your GOV.UK One Login</li>
      <li>change your sign in details (email address and password)</li>
      <li>change how you get security codes  </li>
      <li>update your saved identity information (if you’ve proved your identity with GOV.UK One Login before)</li>
      <li>delete your GOV.UK One Login</li>
    </ul>



    

{{ govukButton({
  text: "Sign in",
  href: "/identity/auth/signin-email-2.html",
  isStartButton: true
}) }}

<nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
  
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="/identity/govuk/signin-to-onelogin-future-2.html" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
      <span class="govuk-pagination__link-label">Services you can use with GOV.UK One Login</span></a>
  </div>
</nav>


  
        </div>
      </div>
  </div>
</div>
{% endblock %}


