
{% extends "activity/layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/">GOV.UK One Login account prototypes</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GOV.UK User research prototype - February 2023
      </h1>


      <h2 class="govuk-heading-m">Task 1</h2>
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Start task 1",
        href: "/header/v1/govuk/check-state-pension"
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Links
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">GOV.UK</h3>
          <ul>
            <li><a href="/header/v1/govuk/check-state-pension">Check your State Pension forecast - start page</a></li>
    
          </ul>
          <h3 class="govuk-heading-s">Auth</h3>
          <ul>
            <li><a href="/header/v1/auth/gov-account">You need a GOV.UK One Login to continue</a></li>
            <li><a href="/header/v1/auth/create-email">Create account - enter email</a></li>
            <li><a href="/header/v1/auth/create-checkemail">Check your email</a></li>
            <li><a href="/header/v1/auth/create-password">Create your password</a></li>
            <li><a href="/header/v1/auth/create-choose-otp-method">Choose how to get security codes</a></li>
            <li><a href="/header/v1/auth/create-otp-sms">Enter your mobile phone number</a></li>
            <li><a href="/header/v1/auth/create-check-sms">Check your phone</a></li>
            <li><a href="/header/v1/auth/create-success">You've created your GOV.UK One Login
            </a></li>
          </ul>

            <h3 class="govuk-heading-s">Prove your identity</h3>
          <ul>
            <li><a href="/header/v1/pyi/mvp/prove-your-id">Prove your identity</a></li>
            <li><a href="/header/v1/pyi/mvp/passport-details">Enter your details exactly as they appear on your UK passport</a></li>
            <li><a href="/header/v1/pyi/mvp/address-manual-current">Enter your address</a></li>
            <li><a href="/header/v1/pyi/mvp/address-check">Confirm your details</a></li>
            <li><a href="/header/v1/pyi/mvp/kbv-start">Answer security questions</a></li>
            <li><a href="/header/v1/pyi/mvp/kbv-question-3">When did you open one of your current accounts?</a></li>
            <li><a href="/header/v1/pyi/mvp/kbv-question-4">When did you take out your mobile phone contract?</a></li>
            <li><a href="/header/v1/pyi/mvp/success">You have proved your identity, now continue to the service</a></li>
          </ul>

          <h3 class="govuk-heading-s">Your state pension summary</h3>
          <ul>
            <li><a href="/header/v1/check-state-pension/index">Your state pension summary</a></li>
          </ul>
          <h3>Account</h3>
          <ul>
            <li><a href="/header/v1/accounts/account-home">Your services</a></li>
            <li><a href="/header/v1/accounts/settings">Settings</a></li>
          </ul>
        </div>
      </details>

      <h2 class="govuk-heading-m">Task 2</h2>
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Start task 2",
        href: "/header/v1/govuk/register-to-vote-start"
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Links
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">GOV.UK</h3>
          <ul>
            <li><a href="/activity/emails/inbox">Register to vote - start page</a></li>
          </ul>
          <h3 class="govuk-heading-s">Auth</h3>
          <ul>
            <li><a href="/header/v1/auth/gov-account-2">You need a GOV.UK One Login to continue</a></li>
            <li><a href="/header/v1/auth/signin-email-2">Enter your email address to sign in to GOV.UK One Login</a></li>
            <li><a href="/header/v1/auth/signin-password">Enter your password</a></li>
            <li><a href="/header/v1/auth/signin-checkphone">Check your phone</a></li>
          </ul>
          <h3>Register to vote</h3>
          <ul>
            <li><a href="/header/v1/register-to-vote/nationality">What is your nationality?</a></li>
            <li><a href="/header/v1/register-to-vote/postcode">What is your address?</a></li>
            <li><a href="/header/v1/register-to-vote/postal-vote">Do you want to apply for a postal vote?</a></li>
            <li><a href="/header/v1/register-to-vote/other-address">Do you also live at a second address?</a></li>
            <li><a href="/header/v1/register-to-vote/open-register">Do you want to opt out of the 'open register'?</a></li>
            <li><a href="/header/v1/register-to-vote/ni-number">What is your National Insurance number?</a></li>
            <li><a href="/header/v1/register-to-vote/full-name">What is your full name?</a></li>
            <li><a href="/header/v1/register-to-vote/date-of-birth?full-name=">What is your date of birth?</a></li>
            <li><a href="/header/v1/register-to-vote/contact">If we have questions about your registration can we contact you by phone?</a></li>
            <li><a href="/header/v1/register-to-vote/check-answers">Check your answers before sending your application</a></li>
          </ul>
          <h3 class="/header/v1/accounts/account-home-2">Account</h3>
          <li><a href="/header/v1/accounts/account-home-2">Your Services</a></li>
          <li><a href="/header/v1/accounts/settings-2">Settings</a></li>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
