{% extends "layouts/layout.html" %}

{% block pageTitle %}
Choose how to get security codes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Choose how to get security codes
    </h1>

    <form class="form" action="create-otp-sms" method="post">

      <p class="govuk-hint">You’ll need to enter a security code when you sign in to GOV.UK One Login.</p>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {{ govukRadios({
        name: "where-do-you-live",
        fieldset: {
          legend: {
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "text-message",
            text: "Text message"
          },
          {
            value: "auth-app",
            text: "Authenticator app for smartphone, tablet or computer"
          }
        ]
      }) }}


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is an authenticator app?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>An authenticator app creates a security code that helps confirm it’s you when you sign in.</p> 
          <p>You can use an authenticator app on your smartphone, tablet or desktop computer. Download an authenticator app for your smartphone or tablet from your app store or search online for an authenticator app for your computer.</p> 
        </div>
      </details>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>
  </div>
</div>

{% endblock %}
