{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">GOV.UK One Login usability prototype</h1>

<h2 class="govuk-heading-l">Task 1</h2>

{{ govukButton({
  text: "Start",
  href: "/identity/govuk/dbs-service-start.html"
}) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Links
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-heading-s">DBS</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/identity/govuk/dbs-service-start.html" class="govuk-link govuk-link--no-visited-state">Request a basic DBS check</a></li>
      <li><a href="/identity/service/dbs/mvp/dbs-identity.html" class="govuk-link govuk-link--no-visited-state">Prove your identity</a></li>
    </ul>
  </div>

  <div class="govuk-details__text">
    <p class="govuk-heading-s">Auth</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/identity/auth/gov-account.html" class="govuk-link govuk-link--no-visited-state">Create a GOV.UK One Login or sign in</a></li>
      <li><a href="/identity/auth/create-email.html" class="govuk-link govuk-link--no-visited-state">Enter your email address</a></li>
      <li><a href="/identity/auth/create-checkemail.html" class="govuk-link govuk-link--no-visited-state">Check your email address</a></li>
      <li><a href="/identity/auth/create-password.html" class="govuk-link govuk-link--no-visited-state">Create your password</a></li>
      <li><a href="/identity/auth/create-choose-otp-method.html" class="govuk-link govuk-link--no-visited-state">Choose how to get security codes</a></li>
      <li><a href="/identity/auth/create-otp-sms.html" class="govuk-link govuk-link--no-visited-state">Enter your mobile phone number</a></li>
      <li><a href="/identity/auth/create-check-sms.html" class="govuk-link govuk-link--no-visited-state">Check your phone</a></li>
      <li><a href="/identity/auth/create-success.html" class="govuk-link govuk-link--no-visited-state">You’ve created your GOV.UK One Login</a></li>
    </ul>
  </div>

  <div class="govuk-details__text">
    <p class="govuk-heading-s">Prove your identity</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/identity/pyi/mvp/prove-your-id.html" class="govuk-link govuk-link--no-visited-state">Prove your identity with GOV.UK One Login</a></li>
      <li><a href="/identity/pyi/how-to-pyi.html" class="govuk-link govuk-link--no-visited-state">How would you like to prove your identity?</a></li>
      <li><a href="/identity/pyi/pyi-online.html" class="govuk-link govuk-link--no-visited-state">Prove your identity online</a></li>
      <li><a href="/identity/pyi/mvp/passport-details.html" class="govuk-link govuk-link--no-visited-state">Enter your passport details</a></li>
      <li><a href="/identity/pyi/mvp/address-manual-current.html" class="govuk-link govuk-link--no-visited-state">Enter your address</a></li>
      <li><a href="/identity/pyi/mvp/address-check.html" class="govuk-link govuk-link--no-visited-state">Confirm your details</a></li>
      <li><a href="/identity/pyi/mvp/fraud-check.html" class="govuk-link govuk-link--no-visited-state">We need to check your details</a></li>
      <li><a href="/identity/pyi/mvp/kbv-start.html" class="govuk-link govuk-link--no-visited-state">Answer security questions</a></li>
      <li><a href="/identity/pyi/mvp/kbv-question-3.html" class="govuk-link govuk-link--no-visited-state">When did you open your current account?</a></li>
      <li><a href="/identity/pyi/mvp/kbv-question-4.html" class="govuk-link govuk-link--no-visited-state">When did you take out your mobile phone contract?</a></li>
      <li><a href="/identity/pyi/mvp/kbv-question-1.html" class="govuk-link govuk-link--no-visited-state">How much did you borrow when you first took out your mortgage?</a></li>
      <li><a href="/identity/pyi/mvp/identity-proved.html" class="govuk-link govuk-link--no-visited-state">You’ve proved your identity</a></li>
      <li><a href="/identity/service/dbs/mvp/dbs-apply.html" class="govuk-link govuk-link--no-visited-state">Apply for a basic DBS check</a></li>
    </ul>
  </div>

</details>

<h2 class="govuk-heading-l">Task 2</h2>

{{ govukButton({
  text: "Start",
  href: "/identity/service/pta/pta-signin-up.html"
}) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Links
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-heading-s">Personal tax account</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/identity/service/pta/pta-signin-up.html" class="govuk-link govuk-link--no-visited-state">Personal tax account: sign in or set up</a></li>
      <li><a href="/identity/service/pta/pta-setup.html" class="govuk-link govuk-link--no-visited-state">Set up your personal tax account</a></li>
      <li><a href="/identity/service/pta/what-is-your-ni.html" class="govuk-link govuk-link--no-visited-state">What is your National Insurance number?</a></li>
      <li><a href="/identity/service/pta/service-pta-home.html" class="govuk-link govuk-link--no-visited-state">Personal tax account home</a></li>
    </ul>
  </div>

  <div class="govuk-details__text">
    <p class="govuk-heading-s">Auth</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/identity/auth/gov-account-3.html" class="govuk-link govuk-link--no-visited-state">Create a GOV.UK One Login or sign in</a></li>
      <li><a href="/identity/auth/signin-email.html" class="govuk-link govuk-link--no-visited-state">Enter your email address to sign in to your GOV.UK One Login</a></li>
      <li><a href="/identity/auth/signin-password.html" class="govuk-link govuk-link--no-visited-state">Enter your password</a></li>
      <li><a href="/identity/auth/signin-checkphone.html" class="govuk-link govuk-link--no-visited-state">Check your phone</a></li>
    </ul>
  </div>

  <div class="govuk-details__text">
    <p class="govuk-heading-s">Prove your identity</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/identity/service/pta/pta-setup.html" class="govuk-link govuk-link--no-visited-state">You’ve proved your identity with GOV.UK One Login before</a></li>
      <li><a href="/identity/pyi/share-id-info.html" class="govuk-link govuk-link--no-visited-state">Share your saved identity information </a></li>
      <li><a href="/identity/pyi/update-info-q.html" class="govuk-link govuk-link--no-visited-state">Are you sure you want to update your information now?</a></li>
    </ul>
  </div>

</details>

<h2 class="govuk-heading-l">Task 3</h2>

{{ govukButton({
  text: "Start",
  href: "/identity/govuk/signin-to-onelogin-future-1.html"
}) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Links
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-heading-s">Sign in to your GOV.UK One Login</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/identity/govuk/signin-to-onelogin-future-1.html" class="govuk-link govuk-link--no-visited-state">Using your GOV.UK One Login</a></li>
      <li><a href="/identity/govuk/signin-to-onelogin-future-2.html" class="govuk-link govuk-link--no-visited-state">How to prove your identity with GOV.UK One Login</a></li>
    </ul>
  </div>

  <div class="govuk-details__text">
    <p class="govuk-heading-s">Auth</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/identity/auth/signin-email-2.html" class="govuk-link govuk-link--no-visited-state">Enter your email address</a></li>
      <li><a href="/identity/auth/signin-password-2.html" class="govuk-link govuk-link--no-visited-state">Enter your password</a></li>
      <li><a href="/identity/auth/signin-checkphone-2.html" class="govuk-link govuk-link--no-visited-state">Check your phone</a></li>
    </ul>
  </div>

  <div class="govuk-details__text">
    <p class="govuk-heading-s">One Login Home</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/identity/accounts/account-home.html" class="govuk-link govuk-link--no-visited-state">Your services</a></li>
      <li><a href="/identity/accounts/settings.html" class="govuk-link govuk-link--no-visited-state">Security</a></li>
      <li><a href="/identity/accounts/id-info.html" class="govuk-link govuk-link--no-visited-state">Your identity information</a></li>
    </ul>
  </div>

</details>

{% endblock %}
