{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">GOV.UK One Login usability prototype</h1>

<h2 class="govuk-heading-l">Task 1</h2>

{{ govukButton({
  text: "Start",
  href: "/identity/govuk/dbs-service-start.html"
}) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Links
    </span>
  </summary>
  <div class="govuk-details__text">
    <a href="">link</a>
  </div>
</details>

<h2 class="govuk-heading-l">Task 2</h2>

{{ govukButton({
  text: "Start",
  href: "/identity/service/pta/pta-signin-up.html"
}) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Links
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-heading-s">Personal Tax Account:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/identity/service/pta/pta-signin-up.html" class="govuk-link govuk-link--no-visited-state">Sign in or set up</a></li>
      <li><a href="/identity/service/pta/what-is-your-ni.html" class="govuk-link govuk-link--no-visited-state">What is your National Insurance number?</a></li>
      <li><a href="/identity/service/pta/service-pta-home.html" class="govuk-link govuk-link--no-visited-state">Home</a></li>
    </ul>
  </div>

  <div class="govuk-details__text">
    <p class="govuk-heading-s">Auth:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/identity/auth/gov-account-3.html" class="govuk-link govuk-link--no-visited-state">Create a GOV.UK One Login or sign in</a></li>
      <li><a href="/identity/auth/signin-email.html" class="govuk-link govuk-link--no-visited-state">Enter your email address</a></li>
      <li><a href="/identity/auth/signin-password.html" class="govuk-link govuk-link--no-visited-state">Enter your password</a></li>
      <li><a href="/identity/auth/signin-checkphone.html" class="govuk-link govuk-link--no-visited-state">Check your phone</a></li>
    </ul>
  </div>

  <div class="govuk-details__text">
    <p class="govuk-heading-s">Prove your identity:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/identity/pyi/share-id-info.html" class="govuk-link govuk-link--no-visited-state">Share your saved identity information</a></li>
      <li><a href="/identity/pyi/update-info-q.html" class="govuk-link govuk-link--no-visited-state">Are you sure you want to update your information now?</a></li>
    </ul>
  </div>

</details>

{% endblock %}
