{% extends "activity/layout-account.html" %}

{% set showServiceNav = "true" %}
{% set activeServiceNavItem = "your-details" %}

{% block pageTitle %}
  GOV.UK One Login - You have changed your password
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="ggovuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
  <h1 class="govuk-panel__title">
    You have changed your password
  </h1>
</div>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Back to settings and security",
  href: "/activity/account/settings-and-security"
}) }}

  </div>
  </div>

  </div>

{% endblock %}
