{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--
    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
    -->
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">Prototypes for usability testing</h2>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 
    <div>
      <span class="govuk-caption-m">August 2023</span>
      <h3 class="govuk-heading-m">Identity and personal info reuse</h3>
      <p>Description text</p>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Go to prototype",
          classes: "govuk-button--secondary",
          href: "https://di-one-login-home-03d66a9cc097.herokuapp.com/identity/task-page"
        }) }}
        <!--
        {{ govukButton({
          text: "Round 2",
          classes: "govuk-button--secondary",
          href: "/header/v2/index.html"
        }) }}
        -->
      </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <div>
      <span class="govuk-caption-m">May 2023</span>
      <h3 class="govuk-heading-m">View and update identity information</h3>
      <p>Testing a how we show users their identity information, and how we can provide a link to a journey for updating their information.</p>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Go to prototype",
          classes: "govuk-button--secondary",
          href: "/identity/index.html"
        }) }}
        <!--
        {{ govukButton({
          text: "Round 2",
          classes: "govuk-button--secondary",
          href: "/header/v2/index.html"
        }) }}
        -->
      </div>
      </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div>
    <span class="govuk-caption-m">Febuary 2023</span>
    <h3 class="govuk-heading-m">Cross service header</h3>
    <p>Testing a navigation element that creates consistancy across onboarded services and alows users to navigate from services to the GOV.UK One Login account management space.</p>
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Round 1",
        classes: "govuk-button--secondary",
        href: "/header/v1/index.html"
      }) }}

      {{ govukButton({
        text: "Round 2",
        classes: "govuk-button--secondary",
        href: "/header/v2/index.html"
      }) }}
    </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    <div>
    <span class="govuk-caption-m">January 2023</span>
    <h3 class="govuk-heading-m">Alerts and activity log</h3>
    <p>Testing how we show users their activity history and alert them to suspicious activity in their account.</p>
    {{ govukButton({
      text: "Go to prototype",
      classes: "govuk-button--secondary",
      href: "/activity/index.html"
    }) }}
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div>
    <span class="govuk-caption-m">October 2022</span>
    <h3 class="govuk-heading-m">Childcare and teaching services</h3>
    <p>Testing the account settings and service dashboard, using the childcare account and teaching services.</p>
    {{ govukButton({
      text: "Go to prototype",
      classes: "govuk-button--secondary",
      href: "/childcare/index.html"
    }) }}
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div>
      <span class="govuk-caption-m">September 2022</span>
      <h3 class="govuk-heading-m">Profiles discovery</h3>
      <p>Talking to participants about multiple accounts and introducing the concept of 'profiles'.</p>
      {{ govukButton({
        text: "Go to prototype",
        classes: "govuk-button--secondary",
        href: "/profiles/index.html"
      }) }}
      </div>

  </div>
</div>

{% endblock %}
